/* Base styles */
@font-face {
	font-family: "Departure Mono";
	src: url("/assets/fonts/DepartureMono-Regular.otf") format(opentype),
		 url("/assets/fonts/DepartureMono-Regular.woff") format(woff),
		 url("/assets/fonts/DepartureMono-Regular.woff2") format(woff2);
	font-weight: 500;
}
@font-face {
	font-family: "Limkin Pixel";
	src: url("https://toomuchtype.com/fonts/limkin-pixel/variable/TMT-LimkinPixelVF.ttf") format(truetype),
		 url("https://toomuchtype.com/fonts/limkin-pixel/variable/TMT-LimkinPixelVF.woff") format(woff),
		 url("https://toomuchtype.com/fonts/limkin-pixel/variable/TMT-LimkinPixelVF.woff2") format(woff2);
	font-weight: 100 900;
}
:root {
	--red: #FF734D;
	--blue: #5ADDE8;
	--purple: #A690FC;
	--yellow: #fcc03a;
	--pink: #F3A8DD;
	--green: #98DB6B;
	--off-white: #fafafa;
	--light-gray: #e5e5e5;
	--dark-gray: hsl(0, 0%, 21%);
	--off-black: #282828;
	--almost-black: #111;
	--primary: var(--white);
	--background-size: 20px;
	--background-move-speed: 1s;
	--conic-gradient-degrees: 0deg;
	font-size: clamp(12px, 1vw, 18px);
	--unit: clamp(5px, 2vw, 20px);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	background-color: var(--almost-black);
	color: var(--light-gray);
	font-family: "Limkin Pixel", sans-serif;
	font-variation-settings: "wght" 500;
	font-weight: 500;
	background-image: radial-gradient(var(--dark-gray) 1px, transparent 0);
	background-size: 15px 15px;
	background-attachment: fixed;
}
button {
	cursor: pointer;
}
.container {
	display: grid;
	grid-template-columns: min(240px, 20vw) 1fr;
	padding: var(--unit);
}
@media only screen and (max-width: 1000px) {
	.container {
		grid-template-columns: 1fr;
	}
}

/* Nav */
.nav {
	display: flex;
	flex-direction: column;
	height: calc(100dvh - calc(var(--unit) * 4));
	position: sticky;
	gap: var(--unit);
	top: calc(var(--unit) * 2);
	font-size: max(.8rem, 14px);
	line-height: 1em;
	text-wrap: balance;
	transition: transform .5s;
	overscroll-behavior: contain;
	padding: 2px;
	z-index: 999;
}
.nav::before {
	border: 2px dotted var(--almost-black);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background-image: conic-gradient(from var(--conic-gradient-degrees), var(--pink) 0%, var(--green) 20%, var(--blue) 40%, var(--yellow) 60%, var(--purple) 80%, var(--red) 100%);
}
.nav-content {
	position: relative;
	z-index: 1;
	background-color: var(--almost-black);
	padding: var(--unit);
	height: 100%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: var(--unit);
	overscroll-behavior: contain;
}
.nav-close {
	font: inherit;
	text-decoration: none;
	color: var(--light-gray);
	border: 2px dotted var(--light-gray);
	display: none;
	align-items: center;
	justify-content: center;
	font-size: max(.8rem, 14px);
	line-height: 1em;
	text-align: center;
	padding: calc(5px + .2em) 10px 5px 10px;
	background-color: var(--almost-black);
	position: absolute;
	top: calc(var(--unit) + 1px);
	right: calc(var(--unit) + 1px);
	z-index: 9;
}
.nav-close:hover {
	background-color: var(--off-white);
	border: 2px dotted var(--off-white);
	color: var(--almost-black);
}
.nav-close:active {
	background-color: var(--almost-black);
	color: var(--dark-gray);
}
.nav-toggle {
	font: inherit;
	text-decoration: none;
	color: var(--light-gray);
	font-size: 1.4rem;
	border: 2px dotted var(--light-gray);
	display: none;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: calc(5px + .2em) 10px 5px 10px;
	background-color: var(--almost-black);
	position: fixed;
	top: calc(var(--unit) + 1px);
	right: calc(var(--unit) + 1px);
	z-index: 9;
}
.nav-toggle:hover {
	background-color: var(--off-white);
	border: 2px dotted var(--off-white);
	color: var(--almost-black);
}
.nav-toggle:active {
	background-color: var(--almost-black);
	color: var(--dark-gray);
}
.nav-group {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.nav-link-section {
	text-decoration: none;
	color: var(--primary);
	border: 2px dotted var(--primary);
	padding: calc(5px + .2em) 10px 5px 10px;
	background-color: var(--almost-black);
	position: relative;
	z-index: 1;
	text-wrap: balance;
}
.nav-link-section:hover {
	border: 2px dotted var(--off-white);
	background-color: var(--off-white);
	color: var(--almost-black);
}
.nav-link-section:active {
	color: var(--dark-gray);
	background-color: var(--almost-black);
}
.nav-link-subsection {
	color: var(--primary);
	text-decoration: none;
	background-color: var(--black3);
	position: relative;
	padding: 5px 0 0 20px;
}
.nav-link-subsection:hover {
	color: var(--off-white);
}
.nav-link-subsection[data-active="1"]::after {
	background-color: var(--primary);
}
.nav-link-subsection:hover::after {
	background-color: var(--off-white);
}
.nav-link-subsection:active {
	color: var(--dark-gray);
}
.nav-link-subsection::before {
	content: "";
	position: absolute;
	left: 6px;
	top: -10px;
	height: 100%;
	border-left: 2px dotted var(--primary);
	transform: translateY(-25%);
}
.nav-link-subsection::after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 10px;
	height: 10px;
	transform: translateY(-50%);
	border: 2px dotted var(--primary);
	background-color: var(--almost-black);
	z-index: 1;
}
.nav-link-subsection:hover::after {
	border: 2px dotted var(--off-white);
}
@media only screen and (max-width: 1000px) {
	.nav {
		position: fixed;
		width: 240px;
		transform: translateX(-300px);
	}
	.nav[data-active="1"] {
		transform: translateX(0);
	}
	.nav-content {
		padding-top: calc(calc(var(--unit) * 2) + 31px);
	}
	.nav-close {
		display: flex;
	}
	.nav-toggle {
		display: flex;
	}
}

/* Header */
.header {
	display: flex;
	flex-direction: column;
	gap: calc(var(--unit) * 8);
	padding: calc(var(--unit) * 8) calc(var(--unit) * 4);
}

/* Header title */
.header-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.header-title-small {
	text-wrap: balance;
	font-size: clamp(14px, 1.5vw, 24px);
	line-height: 1.1em;
	font-family: "Departure Mono", monospace;
	font-variation-settings: "wght" 700;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 2em;
	color: var(--black3);
	padding: calc(10px + .05em) 20px 10px 20px;
	background-color: var(--almost-black);
	animation: header-title-small 7s -.5s infinite ease-in-out;
}
@keyframes header-title-small {
	0% {
		color: var(--pink);
		border: 2px dotted var(--pink);
		outline: 2px dotted var(--pink);
		outline-offset: calc(var(--unit) * .25);
	}
	17% {
		color: var(--green);
		border: 2px dotted var(--green);
		outline: 2px dotted var(--green);
		outline-offset: calc(var(--unit) * .75);
	}
	34% {
		color: var(--blue);
		border: 2px dotted var(--blue);
		outline: 2px dotted var(--blue);
		outline-offset: calc(var(--unit) * .25);
	}
	51% {
		color: var(--yellow);
		border: 2px dotted var(--yellow);
		outline: 2px dotted var(--yellow);
		outline-offset: calc(var(--unit) * .75);
	}
	68% {
		color: var(--purple);
		border: 2px dotted var(--purple);
		outline: 2px dotted var(--purple);
		outline-offset: calc(var(--unit) * .25);
	}
	84% {
		color: var(--red);
		border: 2px dotted var(--red);
		outline: 2px dotted var(--red);
		outline-offset: calc(var(--unit) * .75);
	}
	100% {
		color: var(--pink);
		border: 2px dotted var(--pink);
		outline: 2px dotted var(--pink);
		outline-offset: calc(var(--unit) * .25);
	}
}
.header-title-big {
	font-size: clamp(40px, 10vw, 200px);
	line-height: 1em;
	font-variation-settings: "wght" 500, "SRFF" 0;
	font-weight: 500;
	color: var(--black3);
}
.header-title-big span {
	display: inline-block;
}
.header-title-big span span {
	display: inline-block;
	animation: header-title-big 7s infinite ease-in-out ;
}
@supports (-webkit-backdrop-filter: blur(0)) {
	.header-title-big span span {
		font-variation-settings: "wght" 200, "SRFF" 0 !important;
		font-weight: 200 !important;
	}
}  
@keyframes header-title-big {
	0% {
		color: var(--pink);
		font-variation-settings: "wght" 200, "SRFF" 0;
		font-weight: 200;
	}
	17% {
		color: var(--green);
		font-variation-settings: "wght" 600, "SRFF" 0;
		font-weight: 600;
	}
	34% {
		color: var(--blue);
		font-variation-settings: "wght" 200, "SRFF" 0;
		font-weight: 200;
	}
	51% {
		color: var(--yellow);
		font-variation-settings: "wght" 600, "SRFF" 0;
		font-weight: 600;
	}
	68% {
		color: var(--purple);
		font-variation-settings: "wght" 200, "SRFF" 0;
		font-weight: 200;
	}
	84% {
		color: var(--red);
		font-variation-settings: "wght" 600, "SRFF" 0;
		font-weight: 600;
	}
	100% {
		color: var(--pink);
		font-variation-settings: "wght" 200, "SRFF" 0;
		font-weight: 200;
	}
}
.header-title-link {
	color: var(--light-gray);
	text-decoration: none;
	font-size: 2rem;
	margin-top: 2em;
	line-height: 1.4em;
	font-variation-settings: "wght" 250;
	font-weight: 250;
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 1px;
	text-underline-offset: .4em;
}
.header-title-link:hover {
	color: var(--off-white);
	text-decoration: solid underline;
	text-decoration-thickness: 1px;
	font-variation-settings: "wght" 550;
	font-weight: 550;
}
.header-title-link:active {
	color: var(--dark-gray);
}
@media only screen and (max-width: 600px) {
	.header-title-link {
		font-size: 1.4rem;
		font-variation-settings: "wght" 500;
		font-weight: 500;
	}
	.header-title-big span span {
		font-variation-settings: "wght" 500, "SRFF" 0 !important;
		font-weight: 500 !important;
	}
}

/* Header desc */
.header-desc {
	font-size: 2rem;
	max-width: 1200px;
	margin: 0 auto;
	font-variation-settings: "wght" 250;
	font-weight: 250;
	text-wrap: pretty;
	display: flex;
	flex-direction: column;
	gap: .7em;
	line-height: 1.4em;
}
.header-desc p {
}
.header-desc p strong {
	font-weight: 550;
	font-variation-settings: "wght" 550;
	color: var(--off-white);
}
.header-desc p a {
	padding-top: .1em;
	text-decoration: none;
	outline: 1px dotted var(--off-white);
	color: var(--off-white);
}
.header-desc p a:hover {
	background-color: var(--off-white);
	color: var(--almost-black);
}
.header-desc p a:active {
	opacity: .5;
}
@media only screen and (max-width: 600px) {
	.header-desc {
		font-size: 1.4rem;
		font-weight: 500;
		font-variation-settings: "wght" 500;
	}
}

/* Units */
.units {
	display: flex;
	flex-direction: column;
	padding-top: calc(var(--unit) * 2);
}
.unit {
	padding: 0 calc(var(--unit) * 4);
	scroll-margin-top: calc(var(--unit) * 4);
}
@media only screen and (max-width: 1200px) {
	.unit {
		padding: 0 calc(var(--unit) * 2);
	}
}

/* Unit heading */
.unit-heading {
	display: grid;
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
	padding: calc(var(--unit) * 6);
	border: 2px dotted var(--primary);
	color: var(--off-white);
	outline: 2px dotted var(--primary);
	outline-offset: 20px;
	background-color: var(--almost-black);
	animation: unit-heading 1s infinite ease-in-out alternate;
}
@keyframes unit-heading {
	from {
		outline-offset: calc(var(--unit) * .5);
	}
	to {
		outline-offset: calc(var(--unit) * 2);
	}
}
.unit-heading-title {
	text-decoration: none;
	color: var(--primary);
	margin-bottom: 40px;
}
.unit-heading-title:hover {
	color: var(--off-white);
}
.unit-heading-title:active {
	color: var(--dark-gray);
}
.unit-heading-title-number {
	text-transform: uppercase;
	font-family: "Departure Mono", monospace;
	font-size: 1.4rem;
	line-height: 1em;
	margin-bottom: .5em;
}
.unit-heading-title-name {
	font-size: 6rem;
	line-height: 1em;
	font-weight: 200;
	font-variation-settings: "wght" 200;
}
.unit-heading-title-name span {
	animation: unit-heading-title-name 1s infinite ease-in-out alternate;
}
@keyframes unit-heading-title-name {
	from {
		font-weight: 200;
		font-variation-settings: "wght" 200;
	}
	to {
		font-weight: 600;
		font-variation-settings: "wght" 600;
	}
}
@supports (-webkit-backdrop-filter: blur(0)) {
	.unit-heading-title-name span {
		font-variation-settings: "wght" 200, "SRFF" 0 !important;
		font-weight: 200 !important;
	}
} 
.unit-heading-desc {
	text-wrap: pretty;
	font-size: 1.4rem;
	line-height: 1.4em;
	font-weight: 250;
	font-variation-settings: "wght" 250;
	display: flex;
	flex-direction: column;
	gap: .7em;
}
@media only screen and (max-width: 1000px) {
	.unit-heading {
		padding: calc(var(--unit) * 3);
	}
}
@media only screen and (max-width: 800px) {
	.unit-heading-title-name {
		font-size: 4rem;
	}
}
@media only screen and (max-width: 600px) {
	.unit-heading-title-name {
		font-size: 3rem;
	}
	.unit-heading-desc {
		font-weight: 500;
		font-variation-settings: "wght" 500;
	}
	.unit-heading-title-name span {
		font-variation-settings: "wght" 500, "SRFF" 0 !important;
		font-weight: 500 !important;
	}
}

/* Unit content */
.unit-content {
	display: flex;
	flex-direction: column;
}

/* Unit sections */
.unit-section {
	scroll-margin-top: 40px;
	display: grid;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	padding: 0 var(--unit);
}
.unit-section-line {
	height: calc(var(--unit) * 2);
	position: relative;
}
.unit-section-line::before {
	content: "";
	position: absolute;
	transform: rotate(45deg);
	transform-origin: top left;
	left: 1px;
	top: 0;
	width: calc(var(--unit) + calc(var(--unit)) * 1.8);
	border-top: 2px dotted var(--primary);
}
.unit-section-line[data-active="0"]::before {
	width: 0;
}
.unit-section-line-alt::before {
	content: "";
	transform: rotate(135deg);
	transform-origin: bottom left;
	left: calc(var(--unit) * 2);
	top: -1px;
}

/* Unit section info */
.unit-section-info {
	flex-grow: 1;
	text-wrap: pretty;
	font-size: 1.4rem;
	line-height: 1.4em;
	color: var(--off-white);
	padding: calc(var(--unit) * 4) 0 calc(var(--unit) * 4) calc(var(--unit) * 8);
	border-left: 2px dotted var(--primary);
}
.unit-section:nth-child(1) .unit-section-info {
	padding-top: calc(var(--unit) * 6);
}
.unit-section-info-content {
	display: flex;
	flex-direction: column;
	gap: .7em;
}
.unit-section-info-content h3 {
	margin-bottom: calc(var(--unit) * 4);
	position: relative;
	font-size: 5rem;
	line-height: 1.1em;
	display: flex;
	outline: 2px dotted var(--primary);
	background-color: var(--almost-black);
	animation: section-title 1s infinite ease-in-out alternate-reverse;
}
.unit-section-info-content h3:hover {
	outline: 2px dotted var(--off-white);
}
@keyframes section-title {
	from {
		outline-offset: calc(var(--unit) * .5);
	}
	to {
		outline-offset: calc(var(--unit) * 2);
	}
}
.unit-section-info-content h3 a::before {
	content: "";
	position: absolute;
	left: calc(var(--unit) * -8);
	width: calc(var(--unit) * 8);
	top: 50%;
	border-top: 2px dotted var(--primary);
	transform: translateY(-50%);
	pointer-events: none;
	transition: width .5s;
}
.unit-section-info[data-active="0"] .unit-section-info-content h3 a::before {
	width: 0;
}
.unit-section-info-content h3 a::after {
	content: "";
	position: absolute;
	left: calc(var(--unit) * -8);
	width: var(--unit);
	top: 50%;
	width: calc(var(--unit) * 1.5);
	height: calc(var(--unit) * 1.5);
	transform: translate(-50%, -50%);
	background-color: var(--almost-black);
	border: 2px dotted var(--primary);
	pointer-events: none;
}
.unit-section-info[data-active="0"] .unit-section-info-content h3 a::after {
	width: 0px;
	height: 0px;
}
.unit-section-info-content h3 a {
	width: 100%;
	line-height: 1em;
	font-weight: 500;
	color: var(--primary);
	text-decoration: none;
	text-wrap: balance;
	padding: calc(10px + .2em) 20px 10px 20px;
	font-weight: 200;
	font-variation-settings: "wght" 200;
	outline: 2px dotted var(--primary);
}
.unit-section-info-content h3 a span {
	display: block;
	transition: transform .5s, opacity .5s;
}
.unit-section-info[data-active="0"] .unit-section-info-content h3 a span {
	opacity: 0.25;
	transform: translateX(calc(var(--unit) * -2));
}
.unit-section-info-content h3 a:hover {
	outline: 2px dotted var(--off-white);
	color: var(--off-white);
}
.unit-section-info-content h3 a:hover::before {
	border-top: 2px dotted var(--off-white);
}
.unit-section-info-content h3 a:hover::after {
	border: 2px dotted var(--off-white);
	background-color: var(--off-white);
}
.unit-section-info-content h3 a:active {
	color: var(--dark-gray);
}
.unit-section-info-content p {
	padding-left: 20px;
	transition: transform .5s, opacity .5s;
	font-weight: 250;
	font-variation-settings: "wght" 250;
	max-width: 36em;
}
.unit-section-info[data-active="0"] .unit-section-info-content p {
	opacity: 0.25;
	transform: translateX(calc(var(--unit) * -2));
}
.unit-section-info-content p strong {
	font-weight: 550;
	font-variation-settings: "wght" 550;
}
.unit-section-info-content p a {
	outline: 2px dotted var(--primary);
	color: var(--primary);
	padding-top: .1em;
}
.unit-section-info-content p a:hover {
	outline: 2px dotted var(--off-white);
	color: var(--off-white);
}
.unit-section-info-content p a:active {
	color: var(--dark-gray);
}
@media only screen and (max-width: 1000px) {
	.unit-section-info-content h3 {
		font-size: 3.5rem;
	}
}
@media only screen and (max-width: 600px) {
	.unit-section-info-content h3 {
		font-size: 2.5rem;
	}
	.unit-section-info-content h3 span {
		font-weight: 500;
		font-variation-settings: "wght" 500;
	}
	.unit-section-info-content p {
		font-weight: 500;
		font-variation-settings: "wght" 500;
	}
}

/* Subsections */
.unit-subsections {
	display: flex;
	flex-direction: column;
	margin-left: calc(var(--unit) * 2);
}
.unit-subsection {
	display: flex;
	flex-direction: column;
}

/* Subsection heading and title */
.unit-subsection-heading {
	padding: 0 0 0 calc(var(--unit) * 6);
	border-left: 2px dotted var(--primary);
}
.unit-subsection-title {
	text-wrap: balance;
	font-family: "Limkin Pixel", sans-serif;
	font-size: 3rem;
	line-height: 1.1em;
	display: flex;
}
.unit-subsection-title a {
	color: var(--primary);
	text-decoration: none;
	padding: calc(10px + .1em) 20px 10px 20px;
	width: 100%;
	position: relative;
	font-weight: 250;
	font-variation-settings: "wght" 250;
}
.unit-subsection-title a span {
	display: block;
	transition: opacity .5s, transform .5s;
}
.unit-subsection-heading[data-active="0"] .unit-subsection-title a span {
	opacity: 0.25;
	transform: translateX(calc(var(--unit) * -2));
}
.unit-subsection-title a:hover {
	color: var(--off-white);
	outline: 2px dotted var(--off-white);
	background-color: var(--almost-black);
}
.unit-subsection-title a:active {
	color: var(--dark-gray);
}
.unit-subsection-title a::before {
	content: "";
	position: absolute;
	left: calc(var(--unit) * -6);
	top: 50%;
	border-top: 2px dotted var(--primary);
	width: calc(var(--unit) * 5);
	transform: translateY(-50%);
	pointer-events: none;
	transition: width .5s;
}
.unit-subsection-title a:hover::before {
	border-top: 2px dotted var(--off-white);
	width: calc(var(--unit) * 6);
}
.unit-subsection-heading[data-active="0"] .unit-subsection-title a::before {
	width: 0;
}
.unit-subsection-title a::after {
	content: "";
	position: absolute;
	left: calc(var(--unit) * -6);
	top: 50%;
	width: var(--unit);
	height: var(--unit);
	transform: translate(-50%, -50%);
	background-color: var(--almost-black);
	pointer-events: none;
	border: 2px dotted var(--primary);
	transition: width .5s, height .5s;
}
.unit-subsection-heading[data-active="0"] .unit-subsection-title a::after {
	width: 0;
	height: 0;
}
.unit-subsection-title a:hover::after {
	background-color: var(--off-white);
	border: 2px dotted var(--off-white);
}
.unit-subsection-title:active h4 {
	box-shadow: inset 2.5px 2.5px 5px rgba(0,0,0,.5), inset -2.5px -2.5px 5px rgba(255,255,255,.5);
}
@media only screen and (max-width: 600px) {
	.unit-subsection-title {
		font-size: 2rem;
	}
	.unit-subsection-title a {
		font-weight: 500;
		font-variation-settings: "wght" 500;
	}
}

/* Resources */
.unit-subsection-resources {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: calc(var(--unit) * 2);
	padding: calc(var(--unit) * 2) 0 calc(var(--unit) * 2) calc(var(--unit) * 4);
	border-left: 2px dotted var(--primary);
}
.unit-subsection-resource {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	color: var(--light-gray);
	font-size: 1.2rem;
	line-height: 1.2em;
	padding: calc(10px + .1em) 20px 10px 20px;
	position: relative;
}
.unit-subsection-resource::before {
	content: "";
	position: absolute;
	width: calc(var(--unit) * 3);
	border-top: 2px dotted var(--primary);
	top: 50%;
	left: calc(var(--unit) * -4);
	transform: translateY(-50%);
	pointer-events: none;
	transition: width .5s;
}
.unit-subsection-resource:hover::before {
	border-top: 2px dotted var(--off-white);
	width: calc(var(--unit) * 4);
}
.unit-subsection-resource::after {
	content: "";
	position: absolute;
	left: calc(var(--unit) * -4);
	top: 50%;
	width: calc(var(--unit) * .5);
	height: calc(var(--unit) * .5);
	transform: translate(-50%, -50%);
	border: 2px dotted var(--primary);
	background-color: var(--almost-black);
	transition: width .5s, height .5s;
	pointer-events: none;
}
.unit-subsection-resource:hover::after {
	background-color: var(--off-white);
	border: 2px dotted var(--off-white);
}
.unit-subsection-resource[data-active="0"]::before {
	width: 0;
}
.unit-subsection-resource[data-active="0"]::after {
	width: 0;
	height: 0;
}
.unit-subsection-resource:hover {
	outline: 2px dotted var(--off-white);
	background-color: var(--almost-black);
}
.unit-subsection-resource:active {
	color: var(--dark-gray);
}
.unit-subsection-resource-heading {
	font-family: "Departure Mono", monospace;
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.1em;
	word-break: break-word;
	transition: opacity .5s, transform .5s;
}
.unit-subsection-resource[data-active="0"] .unit-subsection-resource-heading {
	opacity: 0.25;
	transform: translateX(calc(var(--unit) * -2));
}
.unit-subsection-resource-heading span {
	opacity: .5;
}
.unit-subsection-resource-desc {
	font-size: 1rem;
	font-family: "Limkin Pixel", sans-serif;
	letter-spacing: .04em;
	line-height: 1em;
	margin-top: 10px;
	font-weight: 500;
	text-wrap: pretty;
	opacity: .25;
	transition: opacity .5s, transform .5s;
}
.unit-subsection-resource:hover .unit-subsection-resource-desc {
	opacity: 1;
	transition: unset;
}
.unit-subsection-resource[data-active="0"] .unit-subsection-resource-desc {
	opacity: 0.25;
	transform: translateX(calc(var(--unit) * -1.5));
}
.unit-subsection-resource:hover .unit-subsection-resource-desc {
	color: var(--black3);
}